body {
    background-color: #563A66;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    padding: 2em;
}

.header {
    text-align: center;
}

h1 {
    font-family: "Walter Turncoat", serif;
    display: inline-block;
    font-size: 50;
}

img {
    height: 70px;
    top: 15px;
    left: 10px;
    position: relative;
}

#logo {
    margin-top: -40px;
    margin-bottom: -20px;
}

form > div {
    height: 2em;
}

.forms {
    width: 40%;
    margin: 0 auto;
    position: relative;
}

.form-container {
    margin-top: 30px;
}

input[type=text],
select {
    position: absolute;
    left: 10em;
}

button {
    background-color: #A076B7;
    color: white;
    border-radius: 10px;
    border: solid 1px #333333;
    position: relative;
    font-size: 16;
    padding: 3px;
    width: 80px;
}

button:hover {  
    background-color: #FAA209;
    color: black;
}