<html>
<head>
    <title>Ratings App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <h1>Ratings App</h1>


    <div class="result">
        <h3>Your ratings</h3>
        <div class="result-list"></div>
    </div>



    <script>
    $(document).ready(function(e) {
        $.get(
            "/get-user-ratings",
            function(result) {
                console.log(result)
            })
    })



    </script>

</body>
</html>