<html>
<head>
    <title>Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/welcome.css"></link>
</head>
<body>
    <div class="header">
        <div id="logo">
            <h1>Judgemental<img src="../static/eye.png">&nbsp;Eye</h1>
        </div>
    </div>

    <div class="forms">

        <div class="form-container">
            <h2>Please log in.</h2>
            <h3 class="warning"></h3>

            <form id="log-in-form" action="/log-in" method='POST'>
                <div>Email<input type="text" class="input-text" name="user-email"></div>
                <div>Password<input type="text" class="input-text" name="user-pw"></div>
                <button id="log-in-button" type="submit">Log In</button>
            </form>
        </div>

        <div class="form-container">
            <h2>New user? Sign up here.</h2>

            <form id="sign-up-form" action="/new-user" method='POST'>
                <div>Email<input type="text" class="input-text" name="new-user-email"></div>
                <div>Password<input type="text" class="input-text" name="new-user-pw"></div>
                <div>Age<input type="text" class="input-text" name="new-user-age"></div>
                <div>Zipcode<input type="text" class="input-text" name="new-user-zipcode"></div>
                <button id="sign-up-button" type="submit">Sign Up</button>
            </form>
        </div>

    </div>

    <script>

        $('#log-in-button').click(function(evt) {
            evt.preventDefault();
            console.log($("#log-in-form").serialize());
            $.post(
                "/log-in",
                $("#log-in-form").serialize(),
                function(result) {
                    if ("error" in result) {
                        console.log(result);
                        // alert("Please try your password again.");
                        $('.warning').html("Please try your password again");
                        return;
                    } else {
                        window.location = result.result;
                    }
                },
                "json")
        });

        $('#sign-up-button').click(function(evt) {
            evt.preventDefault();
            $.post(
                "/new-user",
                $('#sign-up-form').serialize(),
                function(result) {
                    window.location = result;
                })
        });

    </script>

</body>
</html>